@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Specialty

<h4>Add a specialty or whatever</h4>
<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  <input type="submit" value="Add new specialty" class="btn btn-default" />
}

<p>@Html.ActionLink("All dem specialties", "Index")</p>